
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.birdcoder.baidumap">

    <application>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>
</manifest>
  